
/*Шрифты*/

@font-face{
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face{
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/*Общие настройки текста для страницы*/

*::before,
*::after{
  box-sizing: border-box;
}


body{
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 24px;
  background-color: #f2f2f2;
  color: #000000;
  }


/*Настройки текста для шапки сайта*/

.header-page{
  background-color: #ffffff;
}

.header-navigation-link{
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
  color:#000000;
}

.button{
padding: 8px 34px;
font-size: 16px;
line-height: 20px;
background-color:#756157;
text-transform: uppercase;
border-radius: 4px;
font-style: normal;
font-weight: 700;
color: #FFFFFF;
border: none;
}

/* Настройки текста для Основного контента сайта(main) */

.welcome{
background-image: url(../images/index/hero.jpg);
background-size: 100%, auto, cover;
background-repeat: no-repeat;
background-position: left top;
}

.text-basic{
font-weight: 700;
font-size: 30px;
line-height: 36px;
text-transform: uppercase;
color: #000000;
}

.text-basic-lite{
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 26px;
color: #333333;
}

.advantages-list{
background-color: #82B3D3 ;
}

.advantages-title{
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 28px;
text-transform: uppercase;
color: #000000;
}

.title-color{
color: #ffffff;
}

.advantages-text{
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
color: #333333;
}

.text-color{
color: #ffffff;
}

.advantages-lite{
  background-color: #ffffff;
}


/*Наши услуги*/
.servises-name{
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 28px;
text-transform: uppercase;
color: #000000;
}

.servises-text{
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
color: #333333;
}

.servises-medium{
background: rgba(131, 179, 211, 0.12);

}

/*Заинтересовались*/

.search-title{
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 36px;
text-transform: uppercase;
color: #000000;
}

.search-subtitle{
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 26px;
color: #333333;
}

.button-search{
padding: 8px 50px;
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 36px;
text-transform: uppercase;
color: #FFFFFF;
background-color: #756157;
}

/*Подпишитесь*/
.subscribe{
background-image: url(../images/index/subscribe.jpg);
background-size: 100%, auto, cover;
background-repeat: no-repeat;
background-position: left top;
}

.subscribe-title{
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 36px;
text-transform: uppercase;
color: #FFFFFF;
}

.subscribe-text{
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 26px;
color: #FFFFFF;
}

/*Инпут ничего не наследует, поэтоу указываем все параметры*/

.field{
font-family: 'PT Sans', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;
color: #000000;
}

.subscribe-button{
font-size: 20px;
line-height: 36px;
color: #FFFFFF;
background-color: #82B3D3;
}

.footer-contacts-phone{
font-weight: 400;
font-size: 40px;
line-height: 40px;
text-transform: uppercase;
color: #000000;
}



/*КАТАЛОГ стили*/

.main-catalog-title{
font-style: normal;
font-weight: 700;
font-size: 60px;
line-height: 78px;
color: #FFFFFF;
}

.catalog-filter{
background-image: url(../images/catalog/filter.jpg);
background-size: 100%, auto, cover;
background-repeat: no-repeat;
background-position: left top;
}

.main-breadcrumbs{
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
color: #FFFFFF;
text-decoration: none;
}

.heading-form{
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
text-transform: capitalize;
color: #FFFFFF;
}

.click-text{
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 23px;
color: #FFFFFF;
}

.input-text{
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 24px;
color: #000000;
}

.button-filter{
padding: 8px 50px;
background-color: #82B3D3;
}

.button-small{
padding: 8px 50px;
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
text-transform: uppercase;
color: #FFFFFF;
}

.search-results{
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 36px;
text-transform: uppercase;
}

.sorting{
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
color: #333333;
}

.hotel-name{
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 28px;
color: #000000;
}

.hotel-price{
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
color: #333333;
}

.button-dark{
  background-color: #756157;
}

.button-favorites{
  background-color: #82B3D3;
  border: none;
}

.button-chose{
  background-color: #7DB54F;
  border: none;
}

.rating{
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
text-transform: uppercase;
color: #333333;
}

.pagination-list{
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 36px;
text-transform: uppercase;
}

.title-dark{
color: #000000;
}

.text-dark{
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 26px;
color: #333333;
}
